.dashboard-content {
    color: black;
    background-color: #f8f8f8;
    border: 1px solid rgba(205,205,205,.2);
    border-radius: 0.4rem;
    margin: 2rem;
    padding: 2rem;
}

.dark-mode .dashboard-content {
    color: rgba(255,255,255,.8);
    background-color: #191c20;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0.4rem;
    margin: 2rem;
    padding: 2rem;
}

.disk-chart{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.disk-chart .card{
    padding: 0.3em;
    margin: 0.3em;
}

.item-scroll{
    display: flex;
    align-items: center;
    overflow-y: auto;
    height: 5em;
}

.grey-string{
    color: gray;
}

.red-string{
    color: red;
}

.dashboard-content .card{
    padding: 1%;
    margin: 1%
}

.dark-mode .dashboard-content .card{
    background-color: #17191c;
}

.dashboard-content .card-title{
    border-bottom: solid;
}

.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 51, 51, 0.8);
  background-color: #ff3333;
  margin-right: 6px;
}
.status-dot-green{
    background-color: #green;
}