{% extends "base.html" %}
{% block title %}Directadmin apps version{% endblock %}
{% block content %}

<div class="small-margin">

<table class="table table-no-outer-padding">
  <thead>
    <tr>
      <th>Host</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for host, host_data in data.items() %}
{% for user, time in host_data.items() %}
    <tr>
      <th>{{host}}</th>
      <td>{{user}}</td>
      <td>{{time}} dni temu</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}