{% extends "base.html" %}
{% block title %}User email summary{% endblock %}
{% block content %}

{% for host, data in table_data.items() %}
<div class="table-responsive table-margin">
  <table class="table table-outer-bordered" label="test">
    <caption class="table-caption">{{ host }}</caption>
    <thead>
      <tr>
        {% for header in table_headers %}
        <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for user, user_data in data.items() %}
      <tr>
        {% for email, config in user_data.items() %}
        <td>{{ email }}</td>
        <td>{{config.alias}}</td>
        <td>{{config.last_login}}</td>
        <td>{{config.size}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endfor %}

{% endblock %}
