{% extends "base.html" %}
{% block title %}User domains summery{% endblock %}
{% block content %}

{% for host, data in table_data.items() %}
<h3>{{host}}</h3>
<table class="table table-no-outer-padding">
  <thead>
    <tr>
      {% for header in table_headers %}
        <th>{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for user, user_domains in data.items() %}
      <tr>
        <td>{{ user }}</td>
        <td>{{ user_domains }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}
