<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kameleon - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/halfmoon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/halfmoon-variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/anim.css') }}">
    <script src="{{ url_for('static', filename='js/halfmoon.js') }}"></script>
    <script src="{{ url_for('static', filename='js/font-awesome-all.js') }}"></script>
<!--    <script src="{{ url_for('static', filename='js/halfmoon-module.js') }}"></script>-->
    <script>
      // Dark mode toggle demo
      function toggleDemo() {
        halfmoon.toggleDarkMode();
      }
    </script>
</head>
<body>
<div class="page-wrapper with-navbar">


{% include 'navbar.html' %}
{% include 'login-modal.html' %}

<div class="content-wrapper">
{% block content %}

{% endblock %}
</div>
<script>
 // Make sure that the cookie exists
 if (halfmoon.readCookie("halfmoon_preferredMode")) {
   if (halfmoon.readCookie("halfmoon_preferredMode") == "light-mode") {
     // Light mode is preferred
   }
   else if (halfmoon.readCookie("halfmoon_preferredMode") == "dark-mode") {
     halfmoon.toggleDarkMode();
   }
 }
</script>
</div>
</body>
</html>