<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Kameleon - {% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; connect-src 'self';">
    <meta http-equiv="Access-Control-Allow-Origin" content="*" />
    <meta http-equiv="Access-Control-Allow-Methods"
      content="GET, POST, PUT, DELETE, OPTIONS" />
    <meta http-equiv="Access-Control-Allow-Headers"
      content="Content-Type, Authorization" />
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/halfmoon.css') }}">
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/font-awesome-all.css') }}">
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/halfmoon-variables.css') }}">
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/logo-anim.css') }}">
    <link rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}"
      type="image/x-icon" />
    <script src="{{ url_for('static', filename='js/halfmoon.js') }}"></script>
    <script
      src="{{ url_for('static', filename='js/font-awesome-all.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
    <script
      src="{{ url_for('static', filename='js/send-to-backend.js') }}"></script>
    <!--    <script src="{{ url_for('static', filename='js/halfmoon-module.js') }}"></script>-->
    <script>
      // Dark mode toggle demo
      function toggleDemo() {
        halfmoon.toggleDarkMode();
      }
    </script>
  </head>
  <body>
    <div class="page-wrapper with-navbar with-footer">

      {% include 'toast.html' %}
      {% include 'navbar.html' %}
      {% include 'login-modal.html' %}

      <div class="content-wrapper">
        {% block content %}

        {% endblock %}
      </div>
      <script>
  // Make sure that the cookie exists
  if (halfmoon.readCookie("halfmoon_preferredMode")) {
    if (halfmoon.readCookie("halfmoon_preferredMode") == "light-mode") {
      // Light mode is preferred
    }
    else if (halfmoon.readCookie("halfmoon_preferredMode") == "dark-mode") {
      halfmoon.toggleDarkMode();
    }
  }
  </script>
      {% include 'footer.html' %}
    </div>

  </body>
</html>
