{% extends "base.html" %}
{% block title %}Tool configuration{% endblock %}
{% block content %}

<div id="app"></div>

{% endblock %}

{% block scripts %}
<script>
  window.__APP_STATE__.fileContent = {{ file_content | tojson if file_content else '""' }}
</script>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>


  <script>
function saveConfig() {
  var configContent = document.getElementById("editor-content").value;

  saveContent(configContent, "/saveContent", function(err, response) {
      if (err) {
          notifyStatus("error");
          console.error(err);
      } else {
          notifyStatus("success");
          console.log("Server response:", response);
      }
  });


  toggleEditForm();
}
</script>
</div>
{% endblock %}