<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<div class="container-fluid">
<script src="{{ url_for('static', filename='js/disk-chart.js') }}"></script>

{% for host, values_list in disk_data.items() %}
      <div class="dashboard-content">

      <div class="canvas-container" style="max-width: 50vw; margin: 16px; font-size: 16px">
      <h2 class="content-title">
        Host: {{ host }}
      </h2>
          <canvas id="{{ host }}" width="70em" height="70em"></canvas>
      </div>
    <script>
    createDiskChart("{{ host }}", {{values_list["disk_devices"] | tojson | safe}})
    </script>
    </div>
{% endfor %}
</div>