<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<script src="{{ url_for('static', filename='js/bucket-fill.js') }}"></script>

<div class="container-fluid">

{% for host, values_list in disk_data.items() %}
    {{ host }}
    <div class="row row-box">

{% for entry in values_list %}
<div class="bucket bg-light-lm bg-dark-dm">
  <div class="vertical-meter" id="{{host.replace('.','')}}{{entry.device.replace('//', '')}}">
   </div>
    <div class="bucket-content">
        <div class="text-break bucket-top">{{entry.device}}</div>
        <div class="font-size-12 bucket-bottom">{{entry.used}}/{{entry.size}}</div>

    </div>

</div>
<script>
    fillContainerById({{entry.percentage}}, '{{host.replace('.','')}}{{entry.device.replace('//', '')}}'); // Fill the container to 80%
</script>


{% endfor %}
  </div>
{% endfor %}


</div>