<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<div class="container-fluid">
<script src="{{ url_for('static', filename='js/disk-chart.js') }}"></script>

{% for host, values_list in disk_data.items() %}
      <div class="dashboard-content">
      <h2 class="content-title">
        {{ host }}
      </h2>

            <div class="disk-chart">

            {% for entry in values_list %}
            <div class="card">
            <h5 class="card-title">{{entry.device}}</h5>
            <canvas id="{{entry.randomid}}" width="150em" height="150em"></canvas>
            </div>
            <script>
            createDiskSpaceChart({{entry.used}}, {{entry.size}}, '{{entry.randomid}}');
            </script>
        {% endfor %}
      </div></div>
{% endfor %}
</div>