{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}


<div class="row font-size-12" style="font-size: ">
  <div class="" style="margin-left: auto;"> Refresh data
  <button class="btn" onclick="callAndNotify('/sync-all')"><i class="fa-solid fa-arrows-rotate"></i></button></div>
</div>

<div class="container-fluid">

<div class="dashboard-content"></div>
  <div class="dashboard-widget">
      <h2 class="content-title">
        Pinned statuses
      </h2>
  {% include 'chart.html' %}
  </div>
  <div class="dashboard-widget">
      <h2 class="content-title">
        Host Summary
      </h2>
<p> <i class="fa fa-asterisk" aria-hidden="true"></i> Host private IP address are <span style="color: grey">grey</span>.</p>
<p> <i class="fa fa-asterisk" aria-hidden="true"></i> IP addresses that are listed in RBL DB are marked in <span style="color: red">red</span>.</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Distribution</th>
      <th>Kernel Version</th>
      <th>IP list</th>
      <th>User Count</th>
      <th>Disk devices</th>
      <th>Sync Time</th>
    </tr>
  </thead>
  <tbody>
    {% for host, host_details in host_details_list %}
    <tr class="t-row">
      <th class="first-cell"><i class="fa fa-power-off status-dot"></i> {{host_details.hostname}}</th>
      <th>{{host_details.distro}}</th>
      <th>{{host_details.kernel}}</th>
      <td>
        {% for ip in host.host_ips %}
        <div class="item-scroll {% if ip.is_private %}grey-string{% endif %}">
          {{ip.ip}}<br>
        </div>
        {% endfor %}
      </td>
      <td>{{host_details.user_count}}</td>
      <td>
        <div class="item-scroll">
        {% for device in host.host_devices %}
        {{device.name}} <br>
        {% endfor %}
        </div>
      </td>
      <td>
        {{host_details.sync_timestamp}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
</div></div>
<script src="{{ url_for('static', filename='js/status.js') }}"></script>
{% endblock %}