{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="container-fluid">

  <div class="dashboard-content">
      <h2 class="content-title">
        Overall status
      </h2>
  {% include 'chart.html' %}
  </div>
  <div class="dashboard-content">
      <h2 class="content-title">
        Host Summary
      </h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Host</th>
      <th>Distribution</th>
      <th>Kernel Version</th>
      <th>IP's</th>
      <th>Users</th>
      <th>Disk devices</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for host, host_details in host_details_list %}
    <tr>
      <th>{{host_details.hostname}} ({{host.host_ip}})</th>
      <th>{{host_details.distro}}</th>
      <th>{{host_details.kernel}}</th>
      {% for ip in host.host_ips %}
        <td>{{ip.ip}}</td>
      {% endfor %}
      <td>{{host_details.users}}</td>
      <td>
        <div style="overflow-y: auto; height: 5em;">
        {% for device in host_details.devices %}
        {{device}} <br>
        {% endfor %}
        </div>
      </td>
      <td>
        {{host_details.sync_timestamp}}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>
</div>

{% endblock %}