<!-- First comes the modal -->
<div class="modal" id="login-modal" tabindex="-1" role="dialog" data-overlay-dismissal-disabled="true" data-esc-dismissal-disabled="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="btn close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      {% include 'login-form.html' %}
<!--      <div class="text-right mt-10"> &lt;!&ndash; text-right = text-align: right, margin-top: 1rem (10px) &ndash;&gt;-->
<!--        <a href="#modal-2" class="hyperlink">Forgot password?</a> &lt;!&ndash; hyperlink = used on regular links to remove anti-aliasing in dark mode &ndash;&gt;-->
<!--      </div>-->
    </div>
  </div>
</div>

