<nav class="navbar">
    <a href="{{url_for('index')}}" class="navbar-brand">
        <div class="mask_container" id="logo"
            style="mask-image: url({{ url_for('static', filename='img/logo.svg') }}); -webkit-mask-image: url({{ url_for('static', filename='img/logo.svg') }})">
        </div>

        <!-- Navbar text -->
        <div class="navbar-text text-monospace" style="font-size: 75%">Kameleon
            v.2</div>
    </a>
    <!-- text-monospace = font-family shifted to monospace -->
    <!-- Navbar nav -->
    <ul class="navbar-nav d-none d-md-flex">
        <li class="nav-item dropdown with-arrow toggle-on-hover">
            <a class="nav-link" data-toggle="dropdown"
                id="nav-link-dropdown-toggle-ansible">
                Ansible
                <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right"
                aria-labelledby="nav-link-dropdown-toggle-ansible">
                <a href="/ansible/dashboard" class="dropdown-item">Dashboard</a>
                <a href="/ansible/wrapper-configuration"
                    class="dropdown-item">Configuration</a>

            </div>
        </li>
        <li class="nav-item dropdown with-arrow toggle-on-hover">
            <a class="nav-link" data-toggle="dropdown"
                id="nav-link-dropdown-toggle">
                Reports
                <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right"
                aria-labelledby="nav-link-dropdown-toggle">
                <a href="/disks" class="dropdown-item">Disks</a>
                <a href="/admin-functions" class="dropdown-item">Admin
                    Functions</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="{{url_for('configuration_page')}}"
                class="nav-link">Options</a>
        </li>
        <li class="nav-item dropdown with-arrow toggle-on-hover">
            <a class="nav-link" data-toggle="dropdown"
                id="extension-dropdown-toggle">
                Extensions
                <i class="fa fa-angle-down ml-5" aria-hidden="true"></i>
                <!-- ml-5= margin-left: 0.5rem (5px) -->
            </a>
            <div class="dropdown-menu dropdown-menu-right"
                aria-labelledby="extension-dropdown-toggle">
                {% for e in extension_routes %}
                <a href="{{e.route_endpoint}}"
                    class="dropdown-item">{{e.route_name}}</a>
                {% endfor %}
            </div>
        </li>
    </ul>
    <div class="d-none d-md-flex ml-auto align-items-center">
        {% if user["user"] is not none %}
        <div class="dropdown with-arrow w-50">
            <button class="btn btn-action d-flex align-items-center w-50"
                data-toggle="dropdown" id="user-dropdown-toggle">
                <i class="fa fa-user mr-5"></i>
                <span class="text-monospace">{{ user["preferred_username"]
                    }}</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right"
                aria-labelledby="user-dropdown-toggle">
                <a href="{{ url_for('logout') }}" class="dropdown-item">
                    <i class="fa fa-sign-out-alt mr-5"></i> Log Out
                </a>
                <button class="dropdown-item d-flex align-items-center"
                    type="button" onclick="halfmoon.toggleDarkMode()">
                    <i class="fa fa-moon mr-5"></i> Toggle Dark Mode
                </button>
            </div>
        </div>
        {% else %}
        <a href="#login-modal" class="btn btn-primary ml-10" role="button">Log
            In</a>
        {% endif %}
    </div>

    <!-- Navbar content (with the dropdown menu) -->
    <div class="navbar-content d-md-none ml-auto">
        <!-- d-md-none = display: none on medium screens and up (width > 768px), ml-auto = margin-left: auto -->
        <div class="dropdown with-arrow">
            <button class="btn" data-toggle="dropdown" type="button"
                id="navbar-dropdown-toggle-btn-1">
                Menu
                <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right w-200"
                aria-labelledby="navbar-dropdown-toggle-btn-1">
                <!-- w-200 = width: 20rem (200px) -->
                <a href="#" class="dropdown-item">Docs</a>
                <a href="#" class="dropdown-item">Products</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-content">
                    <form action="..." method="...">
                        <div class="form-group">
                            <input type="text" class="form-control"
                                placeholder="Email address" required="required">
                        </div>
                        <button class="btn btn-primary btn-block"
                            type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>