{% extends "base.html" %}
{% block title %}Ansible Configuration{% endblock %}
{% block content %}

<div class="small-padding">
    <form method="post" action="/ansible/update_configuration">
        Playbooks Path: <input type="text" name="playbooks_path" class="form-control" value="{{config.playbooks_path}}">
        Inventory Path: <input type="text" name="inventory_path" class="form-control" value="{{config.inventory_path}}">
        Ansible Logs Path: <input type="text" name="logs_path" class="form-control" value="{{config.logs_path}}">
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

{% endblock %}